<!--
  Generated template for the VehiclesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vehicles-list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list no-lines>
      <button ion-item *ngFor="let vehicle of vehicles" (click)="vehicleSelected(vehicle)">
        {{ vehicle.brand }} {{ vehicle.model }}
      </button>
    </ion-list>
    <button ion-button (click)="newVehicle()">New Vehicle</button>

</ion-content>
