<!--
  Generated template for the ModalVehiclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modal-vehicle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="saveForm(vehicle)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Brand</ion-label>
        <ion-input type="text" [(ngModel)]="vehicle.brand"  [ngModelOptions]="{standalone: true}" #brand="ngModel" pattern="[a-zA-Z0-9]+$"></ion-input>
        <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert alert-danger">
            <div *ngIf="brand.errors.required">
                Model is required.
            </div>
            <div *ngIf="brand.errors.pattern">
                Invalid Caracters
            </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Model</ion-label>
        <ion-input type="text" [(ngModel)]="vehicle.model" name="model"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" stacked>Passenger Capacity</ion-label>
          <ion-input type="number" [(ngModel)]="vehicle.passengers_capacity" name="passengers_capacity"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Category</ion-label>
        <ion-select type="" [(ngModel)]="vehicle.category" name="category" [ngModelOptions]="{standalone: true}" required>
          <ion-option *ngFor="let category of categories" [value]="category">{{category}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Price</ion-label>
        <ion-input type="number" [(ngModel)]="vehicle.price" name="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Weight</ion-label>
        <ion-input type="number" [(ngModel)]="vehicle.weight" name="weight"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Year</ion-label>
        <ion-input type="number" [(ngModel)]="vehicle.year" name="year"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button type="submit" color="secondary"  block>Save</button>

  </form>


</ion-content>
