<!--
  Generated template for the VehicleDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>vehicle-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header>
        Vehicle
      </ion-list-header>
      <ion-list>
        <ion-label color="primary" stacked>Brand</ion-label>
        <ion-item> {{ vehicle.brand }} </ion-item>
        <ion-label color="primary" stacked>Model</ion-label>
        <ion-item> {{ vehicle.model }} </ion-item>
        <ion-label color="primary" stacked>Passengers Capacity</ion-label>
        <ion-item> {{ vehicle.passengers_capacity }} </ion-item>
        <ion-label color="primary" stacked>Category</ion-label>
        <ion-item> {{ vehicle.category }} </ion-item>
        <ion-label color="primary" stacked>Price</ion-label>
        <ion-item> {{ vehicle.price }} </ion-item>
        <ion-label color="primary" stacked>Weight</ion-label>
        <ion-item> {{ vehicle.weight }} </ion-item>
        <ion-label color="primary" stacked>Year</ion-label>
        <ion-item> {{ vehicle.year }} </ion-item>
      </ion-list>

      <button ion-button block (click)="editVehicle(vehicle)">Edit</button>
      <button ion-button block color="danger" (click)="confirmDeleteVehicle(vehicle)">Delete</button>

</ion-content>
